<div class="container-fluid d-flex flex-row  px-0">
    <p class="navbar-brand pt-2 mt-1 col-md-2 pl-0 col-md-2 text-light">
        Social Network
    </p>
    <div class="py-2 bd-highlight align-content-center col-md-6">
        <input type="text" class="form-control py-2" placeholder="Search..." />
    </div>
    <div class="py-2 bd-highlight align-content-center col-md-2">
        <a class="btn btn-light">Upload</a>
    </div>
    <div class="py-2 bd-highlight align-content-center col-md-2">
        <a class="btn btn-light">profile</a>
    </div>

</div>