<div class="container border-top border-light px-0">
    <div class="container  my-3  mx-0 px-0">
        <div class="footer-item-container d-flex">
            <span class="fa fa-twitter-square  fa-2x mx-2 px-0   "></span>
            <span class="fa fa-linkedin-square fa-2x mx-2 px-0   "></span>
            <span class="fa fa-facebook-square fa-2x mx-2 px-0   "></span>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb px-0 my-3">
                <li class="breadcrumb-item text-light "><a href="#">About</a></li>
                <li class="breadcrumb-item text-light ml-1"><a href="#">For Business</a></li>
                <li class="breadcrumb-item text-light ml-1"><a href="#">Suggestions</a></li>
                <li class="breadcrumb-item text-light ml-1"><a href="#">Help & FAQs</a></li>
                <li class="breadcrumb-item text-light ml-1"><a href="#">Contacts</a></li>
                <li class="breadcrumb-item text-light ml-1"><a href="#">Pricing</a></li>
            </ol>
        </nav>
        <div class="footer-item-container">
            ⓒ Copyright 2013 companyname inc
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb px-0 my-3">
                <li class="breadcrumb-item text-light "><a href="#">Privacy</a></li>
                <li class="breadcrumb-item text-light ml-1"><a href="#">Terms</a></li>
            </ol>
        </nav>
    </div>
</div>