<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>SocialNetwork</mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="px-1" color="primary">
      <div class="container px-0 d-flex ">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <h1 class="mt-1 " *ngIf="isHandset$ | async">SocialNetwork</h1>
        <div class="container-fluid " *ngIf="!(isHandset$ | async)">
          <div class="row">
            <div class="col-md-3">
              <h1 class="mt-1 mt-md-2 mt-lg-1">SocialNetwork</h1>
            </div>
            <div class="col-md-3 col-lg-4">
              <div class="input-group input-group-sm  mt-2 border-0 ">
                <input type="text" class="form-control border-0" aria-label="Small"
                  aria-describedby="inputGroup-sizing-sm">
                <div class="input-group-append bg-transparent">
                  <span class="input-group-text fa fa-search border-0" id="inputGroup-sizing-sm"></span>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="btn btn-upload btn-light py-0 px-2 px-lg-4 mt-2 d-flex">
                <span class="fa fa-upload ml-auto "></span>
                <p class="my-0  ml-2 mr-auto">Upload</p>
              </div>
            </div>
            <div class="bg-transparent d-flex col-md2">
              <div class="btn btn-upload btn-light mt-2 py-1">
                <span class="fa fa-user "></span>              
              </div>
              <h1 class="username mt-2 ml-2">Waseem<br>Archad</h1>
            </div>
          </div>

        </div>
      </div>
    </mat-toolbar>
    <div class="app">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <app-nav-bar></app-nav-bar>
          </div>
          <div class="col-md-12 row mt-0 mt-md-5 mx-auto">
            <div class="col-md-8 ">
              <app-videos class="col-md-12 my-5 "></app-videos>
              <app-people class="col-md-12 my-5 "></app-people>
              <app-documents class="col-md-12  my-5"></app-documents>
            </div>
            <div class="col-md-4 ">
              <app-activity class="col-md-12 my-5 "></app-activity>
              <app-channels class="col-md-12 my-5"></app-channels>
            </div>
          </div>
        </div>
        <div class="py-5">
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>