.sidenav-container {
  height: 100%;
}


.mat-toolbar.mat-primary{
  background-color: #A94C4C;
}

.sidenav .mat-toolbar{
  color:white
}

.sidenav {
  width: 200px;
  background-color: #A94C4C;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.app{
  background-color: #A94C4C;
}

.input-group-text{
  background-color: white;
}

.btn-light {
  color: #A94C4C;
  flex-direction: row;
  align-items: center;
}

.btn-upload{
  height: 31px;
}

.username{
  font :500 17px/17px Roboto, "Helvetica Neue", sans-serif !important;
}




@media(min-width:768px){
  .sidenav{
    display: none;
  }
  .mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
    font: 500 2rem Roboto, "Helvetica Neue", sans-serif; 
  }
  
}

