<div class="contianer-fluid py-3 mt-4 ">
    <div class="header-container d-flex mb-2">
        <h3 class="mb-0">Channels</h3>
        <p class="ml-auto ml-md-3 ml-lg-auto align-content-end mb-0" >Browse all channels</p>
    </div>
    <div class="grid-container border-bottom border-top">
        <div *ngFor="let video of videos; let i  =index"  class="item1 border my-3">
            <div>
                <img style="width: 100px;" 
                    src="{{video.user.profile_image.large}}" />
            </div>
        </div>
    </div>
</div>