<div class="container-fluid d-flex flex-row px-0 py-1  border-bottom border-top ">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb  px-0 my-0 my-md-3">
            <li class="breadcrumb-item text-light "><a href="#">Videos</a></li>
            <li class="breadcrumb-item text-light ml-0 ml-md-3"><a href="#">People</a></li>
            <li class="breadcrumb-item text-light ml-0 ml-md-3"><a href="#">Documents</a></li>
            <li class="breadcrumb-item text-light ml-0 ml-md-3"><a href="#">Events</a></li>
            <li class="breadcrumb-item text-light ml-0 ml-md-3"><a href="#">Communities</a></li>
            <li class="breadcrumb-item text-light ml-0 ml-md-3"><a href="#">Favorites</a></li>
            <li class="breadcrumb-item text-light ml-0 ml-md-3"><a href="#">Channels</a></li>
        </ol>
    </nav>
</div>